.registration-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 100px;
}
.registration-col-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome-banner {
  text-align: center;
}

.page-container{
  display: grid;
  grid-template-column: 1fr 3fr;
}


.page-container{
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 50px;
}

.profile-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr;
}

.profile-banner {
  grid-column: 1 / -1; /* Spans across all columns in the grid */
  border-radius: 10px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  border: 2px solid black;
  align-self: center;
}

.data-card {
  text-align: center;
  padding: 20px;
  border: 2px solid black;
  margin: 10px;
  border-radius: 10px;
}
